body {
    background-color: rgb(170, 211, 228);
    background-size: cover;
    text-align: center;    
}

h1{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100px;
    color: black;
    text-shadow: 1px 1px 2px rgb(226, 128, 145), 0 0 25px pink;
    border: 1.5px outset #134d30;
    border-radius: 8px;
    background-color: #fff5e6;
    box-shadow: 5px 5px 5px #194d30;
    padding: 8px;
    opacity: 0.5;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color:darkgoldenrod;
    text-transform: uppercase;
    background-color: #cfe5f0;
    border-radius: 20px;
  }
  
  figcaption{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px; 
    color: darkred;
    border: 1.5px outset #134d30;
    letter-spacing: 1px;
    text-shadow: rgb(233, 71, 17);
    background-color: #bce0e9;
    border-radius: 20px;
    opacity: 0.7;
    padding: 5px;
  }
  
  #skate1{
    width: 25%;
    float: left;
    text-align: center;
    margin-left: 400px;
  }
  #skate2{
    width: 25%;
    float: left;
    text-align: center;
    margin-right: 400px;
  }
  
  img{
    height: 300px;
    margin: 0px;
  }