body {
  background-image:url(../imagenes/fondoruedas.png);
  background-size: cover;
  text-align: center;  
}

h1{
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 100px;
  color: black;
  text-shadow: 1px 1px 2px rgb(226, 128, 145), 0 0 25px pink;
  border: 1.5px outset #134d30;
  border-radius: 8px;
  background-color: #93cea5;
  box-shadow: 5px 5px 5px #194d30;
  padding: 8px;
  opacity: 0.5;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  color: rgb(21, 85, 24);
  text-transform: uppercase;
  background-color: #93cea5;
  border: 1.5px outset #134d30;
  border-radius: 20px;
}

figcaption{
font-family: Verdana, Geneva, sans-serif;
text-align: center;
letter-spacing: 1px;
font-size: 30px; 
color: rgb(21, 85, 24);
border: 1.5px outset #134d30;
letter-spacing: 1px;
text-shadow: rgb(7, 41, 3);
background-color: #93cea5;
border-radius: 20px;
opacity: 0.7;
padding: 8px;
}

#ruedas{
width: 25%;
float: left;
text-align: center;
margin-left: 400px;
}
#linea{
width: 25%;
float: left;
text-align: center;
margin-right: 400px;
}

img{
height: 300px;
margin: 30px;
}

p{
  font-size: 20px; 
}